<div class="dashboard-container">
  <header class="dashboard-header">
    <div>
      <h1 class="page-title">Dashboard</h1>
      <p class="page-subtitle">Overview of the Rentora Ecosystem</p>
    </div>
  </header>

  <div class="stats-grid">
    <!-- Total Landlords Card -->
    <div class="stat-card landlord-card">
      <div class="card-content">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
        </div>
        <div class="text-content">
          <h3>Admins</h3>
          <a href="/admins">
            <p class="stat-value">{{ stats.totalAdmins }}</p>
          </a>
        </div>
      </div>
      <div class="decorative-blob blob-1"></div>
      <div class="decorative-blob blob-2"></div>
    </div>
    <div class="stat-card landlord-card">
      <div class="card-content">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
        </div>
        <div class="text-content">
          <h3>Landlords</h3>
          <a href="/admins">
            <p class="stat-value">{{ stats.totalLandlords }}</p>
          </a>
        </div>
      </div>
      <div class="decorative-blob blob-1"></div>
      <div class="decorative-blob blob-2"></div>
    </div>

    <div class="stat-card landlord-card">
      <div class="card-content">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
        </div>
        <div class="text-content">
          <h3>Tenants</h3>
          <a href="/admins">
            <p class="stat-value">{{ stats.totalTenants }}</p>
          </a>
        </div>
      </div>
      <div class="decorative-blob blob-1"></div>
      <div class="decorative-blob blob-2"></div>
    </div>


    <!-- Total Revenue Card -->
    <div class="stat-card revenue-card">
      <div class="card-content">
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M6 3h12" />
            <path d="M6 8h12" />
            <path d="M6 13l8.5 8" />
            <path d="M6 13h3a4 4 0 0 0 0-8" />
          </svg>
        </div>
        <div class="text-content">
          <h3>Monthly Revenue</h3>
          <p class="stat-value">{{ stats.totalRevenue | currency:'INR':'symbol' }}</p>
        </div>
      </div>
      <div class="decorative-blob blob-1"></div>
      <div class="decorative-blob blob-2"></div>
    </div>
  </div>
</div>
